/* src/styles/global.css */

:root {
    --header-height: ;
    /* Light-Mode Variablen (Standard) */
    --color-bg: #ffffff;
    --color-text: #404040;
    --color-primary: #FF7D1A;
    --color-secondary: #4b5563;
    --color-accent: #8b5cf6;
    --color-border: #CCCCCC;
  }
  
  /* Dark-Mode Variablen */
  .dark {
    --color-bg: #010101;
    --color-text: #CCCCCC;
    --color-primary: #FF7D1A;
    --color-secondary: #9ca3af;
    --color-accent: #a78bfa;
    --color-border: #404040;
  }

  html {
    overflow-y: scroll; /* Or 'scroll' */
    scroll-behavior: smooth;
    height: 100%;
}
  
  /* Basis-Styles mit Variablen */
  /* In src/styles/global.css */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Raleway', sans-serif; /* Or 'Inter', or your preferred default */
  margin: 0; /* Already good practice to have this */
}
  
  /* raleway-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/raleway-v34-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/raleway-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/raleway-v34-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('/fonts/raleway-v34-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('/fonts/raleway-v34-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('/fonts/raleway-v34-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/raleway-v34-latin-500.eot'); /* IE9 Compat Modes */
    src: url('/fonts/raleway-v34-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/raleway-v34-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('/fonts/raleway-v34-latin-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('/fonts/raleway-v34-latin-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('/fonts/raleway-v34-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/raleway-v34-latin-800.eot'); /* IE9 Compat Modes */
    src: url('/fonts/raleway-v34-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/raleway-v34-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('/fonts/raleway-v34-latin-800.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('/fonts/raleway-v34-latin-800.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('/fonts/raleway-v34-latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* Weitere Styles mit Variablen */